<div id="settingsdiv">
    <div class="settingssubdiv">
        <h3 class="card-header">Settings</h3>
        <div class="card-body">
            <form class="settingsform">
                <fieldset>
                    <div *ngFor="let setfield of setdetails">
                        <div *ngIf="setfield.editable; else uneditable">
                            <label for="{{setfield.colid}}" class="form-label mt-4">{{setfield.labelname}}</label>
                            <div *ngIf="setfield.fieldtype==='textarea'; else nontextarea">
                                <textarea id="{{setfield.colid}}" class="form-control"></textarea>
                            </div>
                            <ng-template #nontextarea>
                                <input id="{{setfield.colid}}" name="{{setfield.colid}}" type="{{setfield.fieldtype}}" class="form-control" />
                            </ng-template>
                        </div>
                        <ng-template #uneditable>
                            <span id="{{setfield.colid}}">{{setfield.labelname}}: </span>
                        </ng-template>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>